:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --second-color-logo-header: #000000;
  --address-link-mail-phone-color: #ffffff99;
  --bgc-team-section: #e5e5e5;
  --bgc-features-doing-section-button-filters: #f5f4fa;
  --background-color-hero-footer: #2f303a;
}

/*! CANCELING DEFAULT STYLES */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.address-footer-list {
  font-style: normal;
}

.filters-button {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
}
/* .hero-button,
.filters-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
} */
/*! CANCELING DEFAULT STYLES */

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

/*? header */
.header-nav {
  background-color: var(--primary-white-color);
  background-color: rgb(159, 220, 159);
  width: 1600px;
  /* height: 80px; */
  margin-left: auto;
  margin-right: auto;
}

.header-nav .accent {
  color: var(--accent-color);
}
.header-nav .logo {
  color: var(--second-color-logo-header);
}

.container .logo {
  /* padding: 24px 93px 25px 215px; */
}

.menu-list {
  padding: 32px 331px 32px 0;
}

.menu-list-item-link {
  color: var(--primary-text-color);
}

.top-contacts-item-link {
  color: var(--secondary-text-color);
}

.menu-list .menu-item :hover,
.menu-list .menu-item :focus {
  color: var(--accent-color);
}

.top-contacts-list .top-contacts-item :hover,
.top-contacts-list .top-contacts-item :focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
/*? header */

/* maine */
.hero .container {
  color: var(--primary-white-color);
  background-color: var(--background-color-hero-footer);
  width: 1600px;
  height: 600px;
  /* margin-bottom: 94px; */
}

.hero-title {
  padding-top: 200px;
  /* margin: 200px 452px 30px 452px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 696px;
}

.features {
  background-color: rgb(245, 13, 13);
}

.features {
  padding-top: 90px;
  padding-bottom: 94px;
}

.features-subtitle {
  margin-bottom: 10px;
}

.hero-title,
.features-subtitle {
  text-transform: uppercase;
}

.hero-button,
.filters-button {
  cursor: pointer;
}

.hero-button {
  /* display: inline-block; */
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  /* border: none; */
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 30px 700px 200px 700px;
  width: 200px;
  height: 50px;
}

.features-item {
  width: 270px;
  height: 101px;
  /* margin-right: 30px; */
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features .container {
}

.features .container,
.we-doing .container {
  background-color: var(--bgc-features-doing-section-button-filters);
  /* margin-bottom: 94px; */
}

.we-doing {
  background-color: yellow;
}

.we-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-doing-subtitle {
  /* width: 376px; */
  /* height: 42px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.we-doing-item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: rgba(10, 125, 121, 0.36);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .container {
  background-color: var(--bgc-team-section);
  /* margin-bottom: 200px; */
}

.team-subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.team-item {
  width: 270px;
  height: 368px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

/* maine */

/*? footer */

.footer-address .logo {
  /* margin: 60px 1240px 20px 215px; */
}

.footer-address {
  /* width: 1600px; */
  background-color: var(--background-color-hero-footer);
}

.footer-address .accent {
  color: var(--accent-color);
}

.footer-address .logo {
  color: var(--primary-white-color);
}

.address-link-place {
  color: var(--primary-white-color);
}

.address-link-mail,
.address-link-phone {
  color: var(--address-link-mail-phone-color);
}

.address-footer-list :hover,
.address-footer-list :focus {
  color: var(--accent-color);
}
/*? footer */

/* fonts */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.menu-container,
.top-contacts-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
}

.hero-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.features-subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 2.142;
  letter-spacing: 0.03em;
}

.features-text,
.address {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.we-doing-subtitle,
.team-subtitle {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.team-field-subtitle,
.team-field-text {
  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-field-text {
  color: var(--secondary-text-color);
}
/* fonts */

/*todo portfolio.html */
/*? main */

.header-nav .container-direction {
  background-color: var(--primary-white-color);
  background-color: rgb(220, 191, 159);
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* height: 80px; */
  margin-left: auto;
  margin-right: auto;
}

.container-direction {
  margin-bottom: 94px;
  width: 1600px;
}

/* .filters-item :hover,
.filters-item :focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
} */

.filters-list :hover,
.filters-list :focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio {
  background-color: rgba(25, 255, 213, 0.394);
}

.portfolio .container {
  margin-bottom: 94px;
}
/*? main */

/* fonts */
.filters-list {
  margin-bottom: 34px;
  text-align: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
  font-size: 16px;
  line-height: 0.022;
  /* line-height: 1.375; */
  letter-spacing: 0.03em;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}

.name-project-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* fonts */

/* .filters-button {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--bgc-features-doing-section-button-filters);
  border: none;
  border-radius: 4px;
  text-align: center;
  height: 38px;
  padding: 6px 22px;
} */

.filters-item {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--bgc-features-doing-section-button-filters);
  /* border: none; */
  border: 1px solid transparent;
  border-radius: 4px;
  /* text-align: center; */
  height: 38px;
  padding: 6px 22px;
  /* vertical-align: middle; */
}

.filters-item:not(:last-child) {
  display: inline-block;
  margin-right: 30px;
}

.filters-item:first-child {
  min-width: 73px;
}

.filters-item:nth-child(2) {
  min-width: 128px;
}

.filters-item:nth-child(3) {
  min-width: 145px;
}

.filters-item:nth-child(4) {
  min-width: 103px;
}

.filters-item:last-child {
  min-width: 130px;
}

/*todo portfolio.html */

/*! border */
.header-nav .container {
  outline: 2px solid tomato;
}

.header-nav .container-direction {
  outline: 4px solid rgb(233, 45, 12);
}

.features .container,
.we-doing .container,
.team .container {
  outline: 2px solid tomato;
}

.hero .container {
  outline: 2px solid tomato;
}

.footer-address .container {
  outline: 2px solid tomato;
}

.portfolio .container {
  outline: 2px solid rgb(99, 71, 255);
}
