:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --second-color-logo-header: #000000;
  --address-link-mail-phone-color: #ffffff99;
  --bgc-doing-section: #e5e5e5;
  --bgc-section: #f5f4fa;
  --background-color-hero-footer: #2f303a;
  --line-header-bottom: #ececec;
}

/*! CANCELING DEFAULT STYLES */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.address-footer-list {
  font-style: normal;
}

.filters-button {
  padding: 0;
  border: 0;

  background-color: transparent;
  color: inherit;
}

/*! CANCELING DEFAULT STYLES */

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 16px;

  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*? header */
.header-nav {
  display: flex;
  width: 1600px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--line-header-bottom);
}

.logo {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.192;
}

.top-container {
  display: flex;
  align-items: center;
}

.header-nav .accent {
  color: var(--accent-color);
}
.header-nav .logo {
  color: var(--second-color-logo-header);
}

.menu-list {
  display: flex;
  margin-left: 50px;
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list-item-link {
  color: var(--primary-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-contacts-list {
  display: flex;
  margin-left: 331px;
}

.top-contacts-list .top-contacts-item + .top-contacts-item {
  margin-left: 50px;
}

.top-contacts-item-link {
  color: var(--secondary-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-list .menu-item :hover,
.menu-list .menu-item :focus {
  color: var(--accent-color);
}

.top-contacts-list .top-contacts-item :hover,
.top-contacts-list .top-contacts-item :focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/*? maine */
.hero .container {
  width: 1600px;
  height: 600px;

  background-color: var(--background-color-hero-footer);
  color: var(--primary-white-color);
}

.hero-title {
  width: 696px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-title,
.features-subtitle {
  text-transform: uppercase;
}

.features-list {
  display: flex;
}

.features {
  padding-top: 90px;
  padding-bottom: 94px;
}

.features-subtitle {
  margin-bottom: 10px;
}

.hero-button,
.filters-button {
  cursor: pointer;
}

.hero-button {
  width: 200px;
  height: 50px;
  margin: 30px 700px 200px 700px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.menu-container,
.top-contacts-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
}

.hero-button {
  font-weight: 700px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.features-subtitle {
  font-weight: 700px;
  font-size: 14px;
  line-height: 2.142;
}

.features-text {
  color: var(--secondary-text-color);
}

.features-text,
.address {
  font-size: 14px;
  line-height: 1.714;
}

.features-item {
  width: 270px;
  height: 105px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.we-doing-subtitle {
  font-weight: 700px;
  font-size: 36px;
}

.we-doing .container {
  width: 1170px;
  padding: 0;
}

.features,
.we-doing {
  margin: 0 auto;
  width: 1600px;
  /* background-color: var(--bgc-doing-section); */
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}

.we-doing-subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.we-doing-list {
  display: flex;
}

.we-doing-item:not(:last-child) {
  margin-right: 30px;
}

.team .container {
  padding-left: 0;
  padding-right: 0;
}

.team {
  background-color: var(--bgc-section);
  padding-bottom: 94px;
  margin: 0 auto;
  width: 1600px;
}

.team-subtitle {
  font-weight: 700px;
  font-size: 36px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}

.team-field-subtitle {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-field-text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

.card-team-item {
  background-color: var(--primary-white-color);
}

.team-field {
  padding-top: 30px;
  padding-right: auto;
  padding-bottom: 30px;
  padding-left: auto;

  text-align: center;
}

.team-list .card-team + .card-team {
  margin-left: 30px;
}

/*? footer */
.footer-address .logo {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-address .container {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color-hero-footer);
  padding: 60px 1154px 60px 215px;
  margin-bottom: -9px;
}

.footer-address .accent {
  color: var(--accent-color);
}

.address-link-place {
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.address-link-mail,
.address-link-phone {
  color: var(--address-link-mail-phone-color);
  margin-bottom: 9px;
}

.address-footer-list :hover,
.address-footer-list :focus {
  color: var(--accent-color);
}

/*todo portfolio.html */

/*? main */
.filters-list {
  display: flex;
  line-height: 0.022;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list :hover,
.filters-list :focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filters-item {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 38px;
  padding: 6px 22px;

  background-color: var(--bgc-section);
}

.filters-item:not(:last-child) {
  display: inline-block;
  margin-right: 30px;
}

.filters-item:first-child {
  min-width: 73px;
}

.filters-item:nth-child(2) {
  min-width: 128px;
}

.filters-item:nth-child(3) {
  min-width: 145px;
}

.filters-item:nth-child(4) {
  min-width: 103px;
}

.filters-item:last-child {
  min-width: 130px;
}

.portfolio .container {
  width: 1600px;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-right: auto;
  margin-left: auto;
  /* padding-left: 0;
  padding-right: 0; */
  padding-left: 15px;
  padding-right: 15px;
  outline: 5px solid tomato;
  background-color: aquamarine;
}

.project-container {
}
